{{> layout/header}}

<div class="container pt-5" style="text-align: center">
    <div class="row">
        <!--주문 테이블-->
        <div>
            <table class="table table-striped" style="vertical-align: middle">
                <tr>
                    <th>번호</th>
                    <th>상품명</th>
                    <th>상품가격</th>
                    <th>구매수량</th>
                    <th>주문상태</th>
                </tr>
                {{#orderList}}
                    <tr>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{product.name}}</td> <!-- 수정: productId로부터 상품명을 가져옴 -->
                        <td>
                            <div style="width:150px; margin:0 auto;">
                                <img src="/upload/{{product.img}}" alt="Product Image" style="max-width: 100%; max-height: 100%;">
                            </div>
                            {{product.price}}
                        </td> <!-- 수정: productId로부터 상품가격을 가져옴 -->

                        <td>
                            {{orderQty}}
                        </td>
                        <td>
<!--                            <input type="hidden" name="orderId" value="id}}">-->
<!--                            <input type="hidden" name="status" value="구매취소">-->

                        </td>
                    </tr>
                {{/orderList}}
            </table>
        </div>
        <!--주문 테이블-->
    </div>
</div>


{{> layout/footer}}
