{{> layout/header}}

<div class="container pt-5" style="text-align: center">
    <form action="/order/save" method="post" class="needs-validation" novalidate="">
    <h3>주문서</h3>
    <div class="order-W d-flex">
        <!--주문 테이블-->
        <div class="order-L">
            <div class="">
                <h2>주문 상품</h2>
                <table class="table" style="vertical-align: middle;">
                    <tr>
                        <td> NO.</td>
                        <td>상품명</td>
                        <td>가격</td>
                        <td>구매수량</td> <!-- 구매수량과 가격의 순서가 바뀌었습니다 -->
                    </tr>
                    {{#orderList}}
<!--                        <input type="hidden" name="userId" value="user.id}}">-->
<!--                        <input type="hidden" name="productId" value="product.id}}">-->
<!--                        <input type="hidden" name="cartId" value="cart.id}}">-->
                        <tr>
                            <td>{{id}}</td>
                            <td>{{product.name}}</td> <!-- 상품명은 product 객체의 name 속성입니다 -->
                            <td>{{product.price}}</td> <!-- 상품 가격은 product 객체의 price 속성입니다 -->
                            <td>{{orderQty}}</td> <!-- 구매수량 -->
                        </tr>
                    {{/orderList}}
                </table>
            </div>
            <!--주문 테이블-->

            <!--개인정보-->
            <div class="user-info">
                <h2 class="bold-500">주문자 정보</h2>
                <table>
                    <tr>
                        <th>보내는 분</th>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td>{{user.phone}}</td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>{{user.email}}</td>
                    </tr>
                </table>
            </div>
            <!--개인정보-->
        </div>


        <!--총 결제금액-->
        <div class="order-R">
            <h3>결제 금액</h3>
            <div class="">
                <dl class="d-flex" style="margin:20px auto; width:300px; justify-content: space-between">
                    <dd>최종 결제금액</dd>
                    <dt>원</dt>
                </dl>
            </div>
            <!--주문완료버튼-->
            <div class="mt-30">
<!--                <a href="/order/list">-->
                    <button class="btn btn-warning" style="width:300px">주문완료하기</button>


            </div>
            <!--주문완료버튼-->
        </div>


        <!--총 결제금액-->
    </div>
    </form>

</div>

{{> layout/footer}}
