{{> layout/header}}
<div class="container w14 pt-100 pb-100" style="margin: 0 auto;">


    <!--개인 로그인시-->
    <form action="/order/{{id}}/update" method="post">
        <div class="d-flex prodsav-W">
            {{#order}}
                <!--상품이미지-->
                <div class="prodsave-L">
                    <div class="mb-3 mt-3"
                         style="width: 400px; height: 400px; border: 1px solid #ddd; color: #ddd; overflow: hidden">
                        <img src="/upload/{{img}}" alt="Product Image"
                             style="max-width: 100%; max-height: 100%;">
                    </div>
                </div>
                <!--상품이미지-->

                <!--구매정보 체크-->

                <div class="prodsave-R ml-10">
                    <!--상품 table-->
                    <table class="prod-info">
                        <!--상품명-->
                        <tr>
                            <th>상품명</th>
                            <td>
                                <input id="name" name="name" type="text" class="form-control"
                                       value="{{name}}" style="width: 100%">
                            </td>
                        </tr>
                        <!--상품명-->


                        <!--상품가격-->
                        <tr>
                            <th>상품가격</th>
                            <td colspan="2">
                                <input name="price" type="number" class="form-control price"
                                       value="{{price}}" style="width: 100%">
                            </td>
                        </tr>
                        <!--상품가격-->

                        <!--상품수량-->
                        <tr>
                            <th>상품수량</th>
                            <td colspan="2">
                                <!--
                                <input name="qty" type="number" class="form-control col ml-5"
                                       placeholder="상품 수량을 적어주세요">
                                -->
                                <!-- 상품의 구매 수량만큼 표시됩니다 -->
                                <div class="quantity-controls d-flex"
                                     style="width: 100px; text-align: center; margin:0 auto">
                                    <button type="button" class="decrease-btn" aria-label="수량내리기">-</button>
                                    <input type="hidden" name="orderId" value="{{id}}">
                                    <input type="text" class="quantity" name="orderQty" value="{{orderQty}}"
                                           style="text-align: center;">
                                    <button type="button" class="increase-btn" aria-label="수량올리기">+</button>
                                </div>
                                <div class="" style="text-align: end">재고 수량: {{qty}} </div>

                            </td>
                        </tr>
                        <!--상품수량-->
                    </table>
                    <!--상품 table-->

                    <!--구매 btn-->
                    <div class="row pr-5 pt-5" style="">
                        <span class="col-4 ml-15" style="width:200px">
                            <a href="/order/list" class="btn btn-warning" style="width:100%">구매하기</a>
                        </span>
                        <!--수정하기-->
                        <span class="col-4 ml-15" style="width:200px">
                        <button type="submit" class="btn btn-warning" style="width:100%">수정하기</button>
                        </span>
                    </div>
                    <!--구매 btn-->
                </div>
                <!--구매정보 체크-->
            {{/order}}

    </form>


</div>

<!--개인 로그인시-->




{{^sessionUser}}

{{/sessionUser}}


<!--
<form action="/order/orderForm" method="post"></form>
 <span><a href="/order/orderForm" class="btn btn-warning">구매하기</a></span>
           <form action="/order/orderForm" method="post">
           <button class="btn btn-warning">구매하기</button>
           <button type="submit" class="btn btn-primary">구매하기</button>
</form>
-->


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // 수량 증가 버튼 클릭 이벤트
        $(".increase-btn").click(function () {
            var $quantityInput = $(this).siblings(".quantity");
            var currentQuantity = parseInt($quantityInput.val());
            $quantityInput.val(currentQuantity + 1);
        });

        // 수량 감소 버튼 클릭 이벤트
        $(".decrease-btn").click(function () {
            var $quantityInput = $(this).siblings(".quantity");
            var currentQuantity = parseInt($quantityInput.val());
            if (currentQuantity > 1) {
                $quantityInput.val(currentQuantity - 1);
            }
        });

        // 재고 수량 계산하여 표시
        var productQty = parseInt("{{order.qty}}");
        var orderQty = parseInt($(".quantity").val());
        var remainingQty = productQty - orderQty;
        $(".remaining-qty").text("재고 수량: " + remainingQty);
    });
</script>



{{> layout/footer}}