{{> layout/header}}
<style>
</style>
<!--리팩토링-->
<div class="container pt-5" style="text-align: center">
    <div class="cart-w d-flex">
        <div class="cart-L">
            <table class="table table-striped" style="vertical-align: middle">
                <tr>
                    <th>
                        <input type="checkbox" id="checkAll" name="checkAll" class="item-checkbox">
                    </th>
                    <th>상품이미지</th>
                    <th>상품명</th>
                    <th>상품가격</th>
                    <th>구매수량</th>
                </tr>
                {{#cartSaveList}}
                    <tr class="cart-table my-cart-list" id="cart-{{id}}">
                        <td>
                            <div class="notVisible">{{id}}</div>
                            <input class="form-check-input item-check"
                                   type="checkbox" name="itemCheck" id="itemCheck" data-price="{{price}}">
                        </td>
                        <td>
                            <div style="width:150px; margin:0 auto;">
                                <img src="/upload/{{product.img}}" alt="Product Image"
                                     style="max-width: 100%; max-height: 100%;">
                            </div>
                        </td>
                        <td>{{name}}</td>
                        <td class="price">{{price}}</td>
<!--                        <td>-->
<!--                            <input type="hidden" class="" name="orderQty" value="orderQty}}">-->
<!--                            orderQty}}-->
<!--                        </td>-->

                        <td class="orderQty">
                            <input id="cart-qty-{{id}}" name="orderQty" type="number"
                                   class="form-control custom-width orderQty-change"
                                   value="{{orderQty}}" style="margin-bottom: 3%;">
                        </td>
                    </tr>
                {{/cartSaveList}}
            </table>
        </div>



<!--        <div class="cart-R">-->
<!--            <div class="">-->
<!--                <h3>총 합계</h3>-->
<!--                <span id="total">0</span>-->
<!--            </div>-->

<!--            <button type="button" class="btn btn-warning" id="purchaseButton"-->
<!--                    style="width:300px; margin: 20px 0">주문하기-->
<!--            </button>-->
<!--        </div>-->

        <div class="cart-R">
            <div class="">
                <h3>총 합계</h3>
                <span id="total">0</span>
            </div>
            <form action="/order/save-form" method="get">
                <!--                #cartSaveList}}-->
                <!--                    <input type="hidden" name="id" value="id}}">-->
                <!--                    <input type="hidden" name="orderQty" value="orderQty}}">-->
                <!--                    <input type="hidden" name="status" value="status}}">-->
                <!--                /cartSaveList}}-->

                <button type="button" class="btn btn-warning" id="purchaseButton"
                        style="width:300px; margin: 20px 0">주문하기
                </button>
            </form>
        </div>

    </div>
</div>

<script>
    <!--total계산-->
    $(".item-check").change(function (e) {
        //console.log(e)

        let total = 0;
        $(".item-check:checked").each(function () {
            //console.log(this)
            total = total + $(this).data("price");
        });

        //화면 표시
        $("#total").text(total);
    });

    <!-- AJAX-->
    let cartSaveList = [];

    document.querySelector("#purchaseButton").addEventListener("click", function (e) {
        e.preventDefault(); // 기본 폼 제출을 방지

        let cartTable = document.querySelectorAll(".my-cart-list");

        cartTable.forEach(value => {

            let checkBox = value.querySelector("td > input");

            if (checkBox.checked) {
                let info = value.querySelectorAll("td > div");
                let cartId = info[0].innerHTML;
                let productId = info[0].innerHTML;
                let orderQty = value.querySelector(".orderQty > input").value;
                //console.log(cartId);
                //console.log(orderQty);

                let checkedCart = {
                    cartId: cartId,
                    productId: productId,
                    orderQty: orderQty,
                    status: checkBox.checked ? true : false
                };

                cartSaveList.push(checkedCart);
            }
        });
        console.log(cartSaveList);

        // AJAX 요청으로 선택된 상품을 서버로 전송
        $.ajax({
            url: '/cart/update',
            data: JSON.stringify(cartSaveList),
            contentType: 'application/json; charset=utf-8',
            type: 'POST'
        }).done((res) => {
            alert(`주문이 완료되었습니다. 결과: ${res}`);
            location.href = "/order-save-form";

        }).fail((res)=>{
            console.log(res.message);
            if(res.responseJSON.status === 400) {
                alert(res.responseJSON.msg);
                location.reload();      //자동 새로고침
            } else {
                location.href = "/order-save-form"
            }
            console.log(res);
            // alert("주문 요청에 실패했습니다.");
        });
    });


    // document.addEventListener("DOMContentLoaded", function () {
    //
    //     // 주문 버튼 클릭 이벤트 처리
    //     document.querySelector("#purchaseButton").addEventListener("click", function (e) {
    //         e.preventDefault(); // 기본 폼 제출을 방지
    //
    //         let checkedCarts = [];
    //
    //         // 선택된 상품을 확인하고 리스트에 추가
    //         document.querySelectorAll(".item-check:checked").forEach(checkbox => {
    //             let cartId = checkbox.id.split('-')[1];
    //             let orderQty = parseInt(document.querySelector(`#cart-${cartId} .cart-qty`).value);
    //
    //             let checkedCart = {
    //                 cartId: cartId,
    //                 orderQty: orderQty,
    //                 status: checkbox.checked ? true : false // 체크 여부에 따라 상태 설정
    //             };
    //
    //             checkedCarts.push(checkedCart);
    //         });
    //
    //         console.log(checkedCarts);


</script>

{{> layout/footer}}
