{{> layout/header}}
<style>
</style>

<div class="container pt-5" style="text-align: center">
    <div class="cart-w d-flex">
        <div class="cart-L">
            <table class="table table-striped" style="vertical-align: middle">
                <tr>
                    <th>번호</th>
                    <th>상품명</th>
                    <th>구매수량</th>
                    <th>상품가격</th>
                    <th>선택하기</th>
                </tr>
                {{#cartSaveList}}
                    <tr class="cart-table my-cart-list" id="cart-{{id}}">
                        <td>{{id}}</td>
                        <td>
                            <div style="width:150px; margin:0 auto;">
                                <img src="/upload/{{product.img}}" alt="Product Image" style="max-width: 100%; max-height: 100%;">
                            </div>
                            {{name}}
                        </td>
                        <td>
                            <input type="hidden" class="cart-qty" name="orderQty" value="{{orderQty}}">
                            {{orderQty}}
                        </td>
                        <td>{{price}}</td>
                        <td>
                            <input class="form-check-input product-checkbox item-check" type="checkbox" name="itemCheck" id="itemCheck-{{id}}" style="width:20px !important; margin: 0 auto">
                        </td>
                    </tr>
                {{/cartSaveList}}
            </table>
            <button type="button" class="btn btn-warning" id="purchaseButton" style="width:300px">주문하기</button>
        </div>
    </div>
</div>

<script>
    let cartSaveList = [];

    document.querySelector("#purchaseButton").addEventListener("click", function (e) {
        e.preventDefault(); // 기본 폼 제출을 방지

        let cartTable = document.querySelectorAll(".my-cart-list");

        cartTable.forEach(value => {
            let checkBox = value.querySelector(".item-check");

            if (checkBox.checked) {
                let cartId = value.id.split('-')[1];
                let orderQty = value.querySelector(".cart-qty").value;

                let checkedCart = {
                    cartId: cartId,
                    orderQty: orderQty,
                };

                cartSaveList.push(checkedCart);
            }
        });
        console.log(cartSaveList);

        $.ajax({
            url: '/cart/update',
            data: JSON.stringify(cartSaveList),
            contentType: 'application/json; charset=utf-8',
            type: 'POST'
        }).done((res) => {
            alert(`결과: ${res}`);
            location.href = "/order-save-form"
        }).fail((res) => {
            // 오류 처리
        });
    });
</script>


<script src="/js/sum-calculate.js"></script>
<script src="/js/list.js"></script>
<script src="/js/check-all.js"></script>

{{> layout/footer}}
