a {
    text-decoration: none !important;
    &:hover {
        text-decoration: none !important;
    }
}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.ml-15{margin-left: 15px;}
.ml-20{margin-left: 20px;}

.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}

.pt-100{padding-top: 100px;}
.pb-100{padding-bottom: 100px;}

/*width*/
.w12 {width: 1200px; margin: 0 auto;}
.w14 {width: 1400px; margin: 0 auto;}
.w16 {width: 1600px; margin: 0 auto;}

input {width: 100% !important; height: 38px;}
.form-control {padding: 20px;}

/*상품등록부분*/
.prod-info{_border-bottom:1px solid #ddd;}
.prod-info th{padding: 25px 0;}
.prodsav-W, .cart-W{align-items: center}
.prodsave-L {width: 40%;}
.prodsave-R {width: 60%;}
.btn-apply{width:300px; padding:10px 0; margin:0 auto;}

.row>* {
    padding-right:0 !important;
    padding-left:0 !important;
}
.cart-L, .order-L{width:70%;}
.cart-R, .order-R{width:30%;}

.order-W h2{
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #222;
    padding: 20px;
    text-align: start;
}
.user-info{padding: 50px 0}
.user-info table{
    font-size: 18px;
    text-align: start;
}
.user-info table th, td{padding: 20px}

/*#212529;*/

.decrease-btn{
    border: 1px solid #ddd; background-color: #fff;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.increase-btn{
    border: 1px solid #ddd; background-color: #fff;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
.quantity{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.order-R{
    text-align: center;
    flex:0 0 auto;
    _padding: 0 !important;
    width: 300px;
    margin: 50px;
    top: 120px;
    position: sticky;
    height: 100%;
}
